.registerForm .main-content {
  width: 70%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.322);
  margin: 4em auto;
  display: flex;
}
.registerForm .imgback {
  background: url(../../assets/images/greenpic.png);
  background-size: cover;
  min-height: 500px;
  box-shadow: inset 0 0 0 5000px rgba(79, 160, 132, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 250, 250, 0.808);
}
.registerForm .imgback h3 {
  color: #fff;
  font-size: 28px;
}
.registerForm .imgback p {
  font-size: 20px;
  color: rgba(255, 250, 250, 0.61);
}
@media only screen and (max-width: 600px) {
  .registerForm form input {
    width: 300px !important;
  }
  .registerForm .svg {
    margin-left: 5rem;
  }
  .registerForm .imgback {
    display: none;
  }
  .registerForm .registerSubmit {
    margin: 0.5em 3em !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .registerForm .imgback {
    display: none;
  }
}
.registerForm .row > h1 {
  font-family: Nunito;
  font-style: normal;
  font-size: 39px;
  margin-top: 40px;
  text-align: center;
  color: #066f49;
}
.registerForm .register_form {
  border-top: 1px solid rgba(204, 204, 204, 0.514);
  /* border-right: 1px solid rgba(204, 204, 204, 0.514); */
}
.registerForm form {
  padding: 0 2em;
}
.registerForm form input {
  /* background-color: rgba(72, 129, 108, 0.13); */
  margin: 0.5em auto;
  padding: 10px 20px;
  /* width: 450px;
  height: 40px; */
  /* border: 0px solid transparent; */
  /* color: rgba(0, 0, 0, 0.57); */
  /* outline: none; */
  /* border-bottom: 1px solid #4FA083; */
  /* transition: all .5s ease; */
}
.registerForm form input::placeholder {
  color: rgba(0, 0, 0, 0.57);
}
.registerForm .registerSubmit {
  transition: all 0.5s ease;
  width: 10em;
  border-radius: 12px;
  color: #fff;
  background-color: rgba(79, 160, 132, 0.904);
  margin: 1.5em 10em;
  font-weight: 800;
}
.registerForm .btn:hover,
.registerForm .btn:focus {
  background-color: rgba(96, 160, 138, 0.904);
  transition: all 0.5s ease;
}
.registerForm .buttons button {
  border: 0.01px solid rgba(0, 0, 0, 0.158);
}
.registerForm .remember a {
  margin: 0.5em auto;
  text-decoration: none;
  color: #000;
}
.registerForm .remember a:hover {
  color: #066f49;
  text-decoration: none;
  transition: all 0.5s ease;
}
.registerForm .suggestion {
  color: rgba(0, 0, 0, 0.568);
}
