body{
    background-color: rgb(79,160, 131);
    font-family: 'Inter';
}
.home-icon{
  margin-top: 15em;
  margin-left: 40em;
  position: absolute;
}
.nav-links{
    margin-left: 70em;
}

/* .signup:hover{

} */

/* Underline styles */
a {
    display: block;
    position: relative;
    padding: 0.1em 0;
  }
  
  /* Fade in */
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }


a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


/* Slide in */
li:nth-child(1) a {
    overflow: hidden;
  }
  
  li:nth-child(1) a::after {
    opacity:1;
    transform: translate3d(-100%, 0, 0);
  }
  
  li:nth-child(1) a:hover::after,
  li:nth-child(1) a:focus::after{
    transform: translate3d(0, 0, 0);
  }


/* Slide in */
li:nth-child(2) a {
  overflow: hidden;
}

li:nth-child(2) a::after {
  opacity:1;
  transform: translate3d(-100%, 0, 0);
}

li:nth-child(2) a:hover::after,
li:nth-child(2) a:focus::after{
  transform: translate3d(0, 0, 0);
}
