body{
    background-color: black;
    font-family: 'Inter';
  }
  /* .container{
    display: flex;
    flex-direction: row;
  } */
.session2{
    background-color:rgb(1,15,10) ;
    position:absolute;
    /* width: 300px; */
    /* margin-top: 2em; */
}

  
  
  .generalstructure{
    background-color:rgb(1,15,10) ;
    margin-top: 0.4em;
   
 
  }
  .subheading{
    display:flex;
    flex-direction: row;
    background-color: rgb(12,55,22);
    width: 60%;
    margin-left:5em;
    margin-top: 1.5em;
    /* width: 80%; */
  }
  .subdiv{
    display:flex;
    flex-direction: row;
  }
  .video-img{
    width: 780px;
    height: 400px;
  }
  .footer{
    display: flex;
    flex-direction: row;
  }
  .down-footer{
   
    display: flex;
    flex-direction: row;
    background-color: rgb(48,177, 133);
    width: 15%;
  }
  .down-footer p{
    font-size: 16px;
  }
  .down-sub-footer{
    display: flex;
    flex-direction: row;
  }
  .street-info{
    display: flex;
    flex-direction: row;
  }
  /*  
    float:right;
    margin-top: -20em; */
  
  body {
    font-family: "Nunito", sans-serif;
  }
  /* .street-data{
    display: flex;
    flex-direction: column;
  } */
  /* .street-info h1,h2,h3{
  font-size: 13px;
  margin-top: 1em;
  margin-right:-1em;
  } */