.myhome {
  background-color: black;
  font-family: "Inter";
}
/* .container{
    display: flex;
    flex-direction: row;
  } */
.session2 {
  position: absolute;
  margin-left: 82em;
  display: flex !important;
  flex-direction: column !important;
  /* width: 300px; */
  /* margin-top: 2em; */
}

.generalstructure {
  background-color: rgb(1, 15, 10);
  /* margin-top: 0.4em; */
}
.subheading {
  display: flex;
  flex-direction: row;
  background-color: rgb(12, 55, 22);
  width: 60%;
  margin-left: 5em;
  margin-top: 1.5em;
  /* width: 80%; */
}
.subdiv {
  display: flex;
  flex-direction: row;
}
.video-img {
  width: 780px;
  height: 370px;
}
.footer {
  display: flex;
  flex-direction: row;
}
.down-footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 177, 133);
  width: 15%;
}
.down-footer p {
  font-size: 16px;
}
.down-sub-footer {
  display: flex;
  flex-direction: row;
}
.street-info {
  display: flex;
  flex-direction: row;
}
.s2_container {
  background-color: rgb(1, 15, 10);
  /* margin-top: 6em; */
}
/*  
    float:right;
    margin-top: -20em; */

body {
  font-family: "Nunito", sans-serif;
}
/* .street-data{
    display: flex;
    flex-direction: column;
  } */
/* .street-info h1,h2,h3{
  font-size: 13px;
  margin-top: 1em;
  margin-right:-1em;
  } */

.cam-h1 {
  color: rgb(6, 111, 73);
  font-size: 18px;
  font-weight: bold;
}
.cam-h3 {
  opacity: 0.5;
  font-size: 12px;
}
.cam-h2 {
  font-size: 12px;
}
.line {
  border: 20px solid white;
}
.red-tom {
  width: 378px;
  height: 275px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0.692);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 209, 209);
}
