body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  width: 850px;
  height: 600px;
  margin: 40px auto 0 auto;
  box-shadow: 0px 6px 16px rgba(98, 100, 108, 0.5);
}

.left {
  width: 260px;
  background-color: #6c63ff;
}

ul {
  margin-top: 150px;
}

li {
  list-style: none;
  margin-bottom: 37px;
  font-size: 17px;
  letter-spacing: 0.7px;
}

.icon {
  padding-top: 6px;
}

.profile {
  color: #fff;
  padding-left: 10px;
  padding-top: 11px;
  position: absolute;
}

.list_item {
  color: #fff;
  opacity: 0.5;
  padding-left: 10px;
  padding-top: 11px;
  position: absolute;
}

.right {
  width: 590px;
}

h2 {
  color: #888cbd;
  letter-spacing: 0.79px;
  margin-left: 25px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.avatar {
  margin-left: 5px;
}

h3 {
  color: #888cbd;
  opacity: 0.7;
  letter-spacing: 0.5px;
  width: 85px;
  font-size: 0.9rem;
  margin: 0 0 0 49px;
}

.form {
  margin-left: 200px;
  margin-top: -150px;
  margin-bottom: 40px;
  width: 310px;
}

label {
  letter-spacing: 0.75px;
  font-size: 0.9rem;
  color: #888cbd;
  opacity: 0.7;
}

input {
  padding-bottom: 5px;
  padding-top: 16px;
  margin-left: 0px;
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  border-bottom: 2px solid #eaeaea;
  letter-spacing: 0.29px;
  color: #292b43;
  font-size: 0.95rem;
  font-weight: 600;
}

.field {
  padding-bottom: 25px;
}

.field:last-child {
  padding-bottom: 15px;
}

.bottom {
  margin-left: 200px;
}

button {
  width: 150px;
  height: 45px;
  bottom: 20px;
  border: none;
}

.button_left {
  margin-right: 5px;
  background-color: #6c63ff;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.button_right {
  margin-left: 5px;
  background-color: #eaeaea;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 300;
  color: #7376a3;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}
