.MyDatePicker {
  display: flex;
  position: relative;
  max-width: 70%;
  left: 30%;
}
.MyDatePicker * {
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.mdp-container {
  position: relative;
  box-shadow: rgba(80, 77, 77, 0.2);
  background: rgb(255, 255, 255);
  width: 100%;
  flex: 1;
}

.mdpc-head {
  float: left;
  width: 100%;
  height: 90px;
}
.mdpc-body {
  float: left;
  width: 100%;
  margin-top: 30px;
}

/**
   * Controls
   */

.mdpch-button {
  float: left;
  width: 100px;
  height: 10vh;
  box-sizing: border-box;
  position: relative;
}

/* .button3 {
  margin-left: 2.7em;
} */

.mdpchb-inner:hover > span {
  border-color: #555 !important;
}
.mdpchb-inner:hover {
  cursor: pointer;
  background: rgba(14, 204, 157, 0.815);
}
/* .mdpchb-inner {
  float: left;
  height: 35px;
  width: 35px;
  background: #f4f4f4;
  border-radius: 100%;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
} */

.mdpchbi-right-arrows:after,
.mdpchbi-left-arrows:after,
.mdpchbi-right-arrow,
.mdpchbi-right-arrows,
.mdpchbi-left-arrow,
.mdpchbi-left-arrows {
  /* display: block; */
  /* float: left; */
  width: 25px;
  height: 25px;
  border-left: 5px solid #14bd84;
  border-bottom: 5px solid #14bd84;
  position: absolute;
}
.mdpchbi-right-arrows,
.mdpchbi-left-arrows{
  border-left: 5px solid #14bd84;
  border-bottom: 10px solid #14bd84;

}
.mdpchbi-right-arrow,
.mdpchbi-right-arrows,
.mdpchbi-left-arrow,
.mdpchbi-left-arrows {
  transform: rotate(45deg);
  left: 73%;
  top: 49%;
  margin-left: -200px;
  margin-top: -20px;
}
.mdpchbi-right-arrows,
.mdpchbi-right-arrow {
  transform: rotate(225deg);
  margin-left: -10px;
}
/* .mdpchbi-right-arrows:after,
.mdpchbi-left-arrows:after {
 content: ""; 
} */

.mdpchbi-left-arrows {
  margin-left: -5px;
}
/* .mdpchbi-right-arrows {
  margin-left: -2px;
} */
.mdpchbi-right-arrows:after,
.mdpchbi-left-arrows:after {
  left: 3px;
  top: -5px;
}

.mdpch-container {
  /* float: left; */
  width: 130px;
  /* margin-left: 43px; */
  height: 100%;
  text-align: center;
  position: absolute;
  /* left: 30%;
  top: 10%; */
}
.mdpchc-year {
  /* float: left; */
  width: 100%;
  height: 30px;
  font-size: 30px;
  color: #1baa7a;
  text-align: center;
}
.mdpchc-month {
  /* float: left; */
  /* width: 100%;
  height: 15px; */
  font-size: 18px;
  color: #0e7955ad;
  font-weight: 250px;
  text-align: center;
}

/**
   *  Calendar
   */
.cc-month,
.cc-head,
.cch-name,
.cc-body,
.cdc-day span,
.cdc-day,
.c-day-container,
.c-container {
  position: relative;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.c-container {
  width: 100%;
  height: 100%;
}

.cc-month {
  height: 30px;
  width: 100%;
  /* font-family: Roboto; */
  font-size: 16px;
  line-height: 30px;
  color: #14bd84;
}
.cc-head {
  height: 30px;
  width: 100%;
  margin-top: 10px;
}
.cch-name {
  width: 14.285%;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #14bd84;
  font-size: 15px;
  text-align: center;
}
.cc-body {
  height: 270px;
  width: 100%;
}
.c-day-container {
  width: 14.285%;
  height: 16.6666%;
}
.cdc-day {
  width: 100%;
  height: 100%;
  font-size: 15vh;
  font-weight: 300;
  color: #bd6e14;
  text-align: center;
}
.cdc-day span {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 300;
  color: rgb(51, 47, 47);
}

.cdc-day span:hover {
  cursor: pointer;
  background: #b6ddd0;
}
.cdc-day span {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  left: 50%;
  top: 50%;
  font-weight: 400;
  border-radius: 100%;
  line-height: 30px;
}
.c-day-container.disabled {
  pointer-events: none;
}

.c-day-container.disabled .cdc-day span {
  color: rgb(194, 183, 183);
}
.c-day-container.disabled .cdc-day span {
  background: #fff !important;
}
.c-day-container.highlight .cdc-day span {
  background: #14bd84;
}
.c-day-container.highlight-green .cdc-day span {
  background: #d4e2cb;
}

/**** For desktop ****/
@media only screen and (min-width: 768px) {
  .mdp-container {
    width: 100%;
    float: right;
    margin-right: 8em;
  }
  .cch-name {
    font-size: 19px;
  }
  .mdpch-container {
    left: 38%;
    top: 3%;
  }
  .mdpc-head {
    margin-top: 1em;
    margin-left: 5em;
  }
  .button3{
    margin-right: 10em;
    bottom:5px;
  }
.button4{
bottom: 5px;
}
  .button3,
  .button4 {
    float: right !important;
  }
}
