.MySideCale {
  background-color: #30b186b6;
  color: rgba(51, 47, 47, 0.753);
}
.sidebardata {
  padding:2rem 6rem 0rem 4rem;
}
.number1 {
  box-shadow: 1px 0px 2px 0px rgba(26, 12, 12, 0.39);
}
.recorded{
  padding:0 6rem 0rem 4rem;
}