.MySideCale {
  background-color: #30b186b6;
  color: rgba(51, 47, 47, 0.753);
}
.sidebardata {
  padding: 1em 8em 0 2em;
}
.number1 {
  box-shadow: 10px 0px 80px rgba(204, 25, 25, 0.2);
  margin-left:10px;
  margin-right: 10px;
  border: 66px;
}